about-time==4.2.1
ads==0.12.3
aiodns==3.1.1
aiohttp==3.9.3
aiosignal==1.3.1
alabaster==0.7.16
alive-progress==3.1.5
annotated-types==0.6.0
ansi2html==1.9.1
astropy==6.0.0
astropy-healpix==1.0.2
astropy-iers-data==0.2024.1.15.0.30.14
astropy-sphinx-theme==1.1
astroquery==0.4.6
attrs==23.2.0
autograd==1.6.2
Babel==2.14.0
beautifulsoup4==4.12.3
bidict==0.22.1
blinker==1.7.0
bokeh==2.4.3
cdshealpix==0.6.5
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cma==3.2.2
colorama==0.4.6
contourpy==1.2.0
cryptography==42.0.0
cycler==0.12.1
Cython==3.0.8
dash==2.17.1
dash-autocomplete-input==0.0.7
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.14.3
dash-table==5.0.0
Deprecated==1.2.14
dill==0.3.7
diskcache==5.6.3
docutils==0.20.1
emcee==3.1.4
faust-cchardet==2.1.19
fink-filters==3.35
fink-spins==0.3.7
fink-utils==0.26.0
Flask==3.0.1
fonttools==4.47.2
frozenlist==1.4.1
future==0.18.3
gatspy==0.3
grapheme==0.6.0
gunicorn==21.2.0
healpy==1.16.6
html5lib==1.1
httpretty==0.8.10
idna==3.6
imagesize==1.4.1
iminuit==2.24.0
importlib-metadata==7.0.1
iniconfig==2.0.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
jeepney==0.8.0
Jinja2==3.1.3
JPype1==1.5.0
kepler.py==0.0.7
keyring==24.3.0
kiwisolver==1.4.5
Levenshtein==0.23.0
light-curve==0.8.1
line_profiler==4.1.3
llvmlite==0.41.1
lxml==5.1.0
markdown-it-py==3.0.0
MarkupSafe==2.1.4
matplotlib==3.8.2
mdurl==0.1.2
mock==5.1.0
mocpy==0.13.1
more-itertools==10.2.0
multidict==6.0.4
multiprocess==0.70.15
nest-asyncio==1.5.9
networkx==3.2.1
nifty_ls==1.0.0
numba==0.58.1
numpy==1.26.3
numpydoc==1.6.0
packaging==23.2
pandas==2.2.0
pillow==10.2.0
platformdirs==2.6.2
plotly==5.18.0
pluggy==1.3.0
psutil==5.9.8
py4j==0.10.9.7
pyarrow==14.0.2
PyAstronomy==0.20.0
pycares==4.4.0
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
pyerfa==2.0.1.1
Pygments==2.17.2
pyGTC==0.5.0
pyLIMA==0.8.3
pymoo==0.6.1.1
pyparsing==3.1.1
pypng==0.20220715.0
pyspark==3.5.0
pytest==7.4.4
pytest-doctestplus==1.1.0
python-dateutil==2.8.2
pytz==2023.3.post1
pyvo==1.5
PyYAML==6.0.1
qrcode==7.4.2
quantities==0.15.0
rapidfuzz==3.6.1
regex==2023.12.25
requests==2.31.0
retrying==1.3.4
rich==13.7.0
ruff==0.4.2
sbpy==0.4.0
scipy==1.11.4
SecretStorage==3.3.3
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.5
space-rocks==1.9.8
Sphinx==7.2.6
sphinx-astropy==1.9.1
sphinx-automodapi==0.16.0
sphinx-gallery==0.15.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
synphot==1.3.post0
tabulate==0.9.0
tenacity==8.2.3
tornado==6.4
tqdm==4.66.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
VBBinaryLensing==3.6.2
visdcc==0.0.50
webencodings==0.5.1
Werkzeug==3.0.1
wrapt==1.16.0
yarl==1.9.4
zipp==3.17.0
git+https://github.com/astrolabsoftware/fink-science@5.17.4
