dash==1.20.0
dash-bootstrap-components
dash-html-components
dash-core-components
dash-table
dash_trich_components

visdcc

JPype1

astropy
numpy
pandas
PyYAML
matplotlib
gatspy
scipy
healpy
numba
scikit-learn
iminuit
pyLIMA
astroquery
