dash==1.20.0
dash-bootstrap-components
dash-html-components
dash-core-components
dash-table
dash_trich_components
dash-mantine-components

visdcc

JPype1

# for python 3.7, there is a problem in
# reading the FITS header for astropy>4.2
# see https://github.com/astropy/astropy/issues/12223
astropy==4.2
numpy
pandas
PyYAML
matplotlib
gatspy
scipy
healpy
numba
scikit-learn
iminuit
pyLIMA
astroquery

fink-filters
tabulate
qrcode[pil]
