.inputbar:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#magic_suggest .list-group-item {
  background: rgba(248, 248, 248, 1);
}

ul.react-autocomplete-input {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 90vh;
}
