html, body {
  height: 100%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.roundimg {
  clip-path: circle(40%);
}

.roundcorner {
  border-radius: 25px;
}

.zoomed {
  margin: 0 auto;
  transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Safari 3-8 */
  clip-path: none;
}

.zoom {
  padding: 2px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  -ms-transform: scale(1.25); /* IE 9 */
  -webkit-transform: scale(1.25); /* Safari 3-8 */
  clip-path: none;
}

.nozoom {
  padding: 2px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.nozoom:hover {
  transform: scale(1.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  -ms-transform: scale(1.0); /* IE 9 */
  -webkit-transform: scale(1.0); /* Safari 3-8 */
  clip-path: none;
}

.home {
  overflow: auto;
  position:absolute;
  width:100%;
  height:100%;
  top: 0px;
  left:0;
  bottom: 0;
  right: 0;
}

.finknav {
    width: 100%;
    height: 50px;
    text-align: center;
}

.Absolute-Center {
  height: 80%;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  vertical-align: middle;
}

.inputbar:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.rcorners2 {
  border-radius: 25px;
  border: 2px solid black;
  padding: 0px;
}

.rcorners3 {
  border-radius: 25px;
  border: 0px solid grey;
  padding: 0px;
  /* other CSS styles */

  /* round the corners */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 25px;


  /* make it glow! */
  -webkit-box-shadow: 0px 0px 4px #f5622e;
  -moz-box-shadow: 0px 0px 2px #F5622E;
  box-shadow: 0px 0px 4px #F5622E;
}

.rcorners4 {
  border-radius: 25px;
  border: 0px solid grey;
  padding: 0px;
  outline:none;
  /* other CSS styles */

  /* round the corners */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 25px;


  /* make it glow! */
  -webkit-box-shadow: 0px 0px 2px #15284F;
  -moz-box-shadow: 0px 0px 2px #15284F;
  box-shadow: 0px 0px 4px #15284F;
}

.buttonbar {
    border: 0px black solid;
    background: #ffffff00;
    color: grey;
}

input[type="search"] {
  border: 1px solid gray;
  padding: .2em .4em;
  border-radius: .2em;
}

input[type="search"].dark {
  background: #222;
  color: #fff;
}

input[type="search"].light {
  background: #fff;
  color: #222;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/light/times.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0.5;
  pointer-events: all;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.5;
  pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
  filter: invert(1);
}

img[alt=logoexp] { width: 200px; horizontal-align: middle; display: block; margin: auto;}

._dash-loading {
  margin: auto;
  color: transparent;
  width: 0;
  height: 0;
  text-align: center;
}

._dash-loading::after {
  content: 'Loading';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  color: #f5622e;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
  margin-top: 2rem;
}