html, body {
  height: 100%;
}

.home {
  overflow: auto;
  position:absolute;
  width:100%;
  height:92%;
  margin-top: 50px;
  top: 0px;
  left:0;
  bottom: 0;
  right: 0;
}

.finknav {
    width: 100%;
    height: 50px;
    text-align: center;
}

.Absolute-Center {
  height: 80%;
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  vertical-align: middle;
}

.inputbar:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.rcorners2 {
  border-radius: 25px;
  border: 2px solid black;
  padding: 0px;
}

.rcorners3 {
  border-radius: 25px;
  border: 0px solid grey;
  padding: 0px;
  /* other CSS styles */

  /* round the corners */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 25px;


  /* make it glow! */
  -webkit-box-shadow: 0px 0px 4px #F5622E;
  -moz-box-shadow: 0px 0px 2px #F5622E;
  box-shadow: 0px 0px 4px #F5622E;
}

.rcorners4 {
  border-radius: 25px;
  border: 0px solid grey;
  padding: 0px;
  outline:none;
  /* other CSS styles */

  /* round the corners */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 25px;


  /* make it glow! */
  -webkit-box-shadow: 0px 0px 2px #15284F;
  -moz-box-shadow: 0px 0px 2px #15284F;
  box-shadow: 0px 0px 4px #15284F;
}

.buttonbar {
    border: 0px black solid;
    background: #ffffff00;
    color: grey;
}

img[alt=logoexp] { width: 200px; horizontal-align: middle; display: block; margin: auto;}
