name: PEP8

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.11]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ruff
    - name: Lint
      run: |
        ruff check --statistics *.py 
        ruff check --statistics apps/
        ruff check --ignore D205 tests/
    - name: Format
      run: |
        ruff format --check *.py
        ruff format --check apps/
        ruff format --check tests/
